aiofiles
aiohttp==3.7.4
apscheduler
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
psutil
httpx==0.27.2
py-tgcalls==0.9.1
pykeyboard
pyrofork
python-dotenv
PyYAML>=5.3.1
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
